body {
    width: 100vw;
    font-family: "Kavivanar", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
header{
    box-shadow: 10px 10px 9px 10px;
    display: flex;
    flex-direction: row;
    height: 70px;
    position: sticky;
    top: 0;
    padding: 20px;
    column-gap: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}
.logo{
    border: none !important;
    width:50px ;
    height: 50px;
}
.logo_{
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
}
p{
    font-size: 1em;
}
h1{
    margin-left: 25px;
	color: black;
}
.tot {
	box-shadow: 10px 10px 9px 10px;
    max-width: 100%;
    max-height: 55vh; 
   	overflow-x: auto;
   	-ms-overflow-style: none;  
    scrollbar-width: none; 
    background-color: whitesmoke;
    border-radius: 25px;
    padding-left: 15px;
    margin: 13px;
    display: flex;
    gap: 18px; 
    flex-wrap: nowrap;

}
img{
    border-radius: 20px;
    border: solid 2px;
	width: 180px;
	padding: 5px;
	height: 180px;
}
.link{
    display: flex;
    column-gap: 30px;
    font-size: 20px;
    text-decoration: none;
    justify-content: space-evenly;
}
a{
    color: black;
}
.text {
    color: black;
    border-radius: 20PX;
    margin-right: 20px; 
}

.text-container {
    padding: 15px; 
}

.text-container p {
    margin: 0; 
    color: black; 
}

.tot_div {
    display: flex;
    flex-direction: column;
}
button{
	margin-top:10px ;
	margin-left: 25%;
}
button{
    width: 100px;
    height: 40px;
    background-color: #f2d8c4;
    border-radius: 10px;
}