<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Caveat:wght@700&family=Coiny&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
        <title>JUNGLANS NEWS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/more.css') }}">
    </head>
    <body>
        <header>
            <div class="logo_">
                <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}">

                <h2>JUNGLANS NEWS</h2>
            </div>
            <div class="link">
                <a href="/more/trending">TRENDING</a>
                <a href="/more/tamilnadu">TAMILNADU</a>
                <a href="/more/cinema">CINEMA</a>
                <a href="/more/lifestyle">LIFESTYLE</a>
                <a href="/more/sports">SPORTS</a>
                <a href="/more/india">INDIA</a>
                <a href="/more/world">WORLD</a>
            </div>
        </header>
        {% if data %}
        <div class="tot_div">
            <h1>{{name}}</h1>
                <div class="tot">
                    {% for i in data %}
                        <div class="text">
                            <div class="text-container">
                                <form action="/link" method="POST">
                                       <img src="{{i.img_link}}">
                                        <p>{{ i.text }}</p>
                                        <button type="submit">READ MORE</button>
                                        <input type="hidden" name="fname" value="{{i.href}}">
                                        <input type="hidden" name="jname" value="{{i.img_link}}">
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        {% endif %}
    </body>
</html>
